
body {
	background-color: purple;
}

table {
	background-color: #F7003E;
}

.band_producers {
	background-color: black;
	color: purple;
}

.band_producers #title{
	text-align: center;
	border-style: solid;
	border-width: 4px;
	margin: auto;
}

.band_producers #members{
	text-align: center;
	border-style: solid;
	border-width: 4px;
	margin: auto;
}

li {
	margin: 10px;
}

.topside a {
	text-decoration: none; 
	color: black;
}

.topside a:hover {
	text-decoration: underline;
	background-color: black;
	color: purple;
}

tbody td {
	font-style: italic;
}

.tracklist tbody tr:nth-child(even) {
	background-color: purple;
}