.title {
	text-align: center;
}

.bet {
	text-align: center;
}

#play_button {
	width: 100px;
	height: 50px;
}

.results {
	text-align: center;
	background-color: gray;
}

.results table { 
	margin-left: 40%;
	text-align: center;
}