.title {
	border-style: solid;
	border-width: 4px;
	border-color: red;
	background-color: #EDED9A;
	color: #A66C00;
	text-align: center;
}

.navigation {
	padding: 5px 15px 5px 15px;
	background-color: #EDED9A;
	text-align: center;
}


.footer {
	text-align: center;
	background-color: #EDED9A;
}

body {
	background-color: gray;
}

.navigation a { 
	color: red;
	text-decoration: underline;
}

.navigation a:visited {
	color: blue;
}

.navigation a:hover {
	font-weight: bold;
}

.navigation a:active {
	text-decoration: none;
}

.jumbotron {
	background-color: rgba(214,21,21,.6);
}

